[Unit]
Description=A music management and listening solution
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=roon
Environment=ROON_DATAROOT=/var/lib/roon
Environment=ROON_ID_DIR=/var/lib/roon
ExecStart=/opt/RoonServer/start.sh
LimitNOFILE=65536
Restart=on-abort

[Install]
WantedBy=multi-user.target
