[Unit]
Description=Peroxide
Requires=network.target
After=network.target
ConditionPathExistsGlob=%E/.config/peroxide/credentials.json"

[Service]
Type=simple
ExecStart=/usr/bin/peroxide ${PEROXIDE_OPTS}
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=default.target
