[Unit]
Description=Peroxide
Requires=network.target
After=network.target
ConditionPathExistsGlob=%S/credentials.json"

[Service]
Type=simple
ExecStart=/usr/bin/peroxide -config /etc/peroxide.yaml ${PEROXIDE_OPTS}
User=peroxide
Group=peroxide
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=default.target
