[Unit]
Description=A third-party, open-source ProtonMail CardDAV, IMAP and SMTP bridge
ConditionPathExistsGlob=%S/*.db

[Service]
User=hydroxide
Type=simple
ExecStart=/usr/bin/hydroxide ${HYDROXIDE_MODE}

[Install]
WantedBy=default.target