[Unit]
Description=A third-party, open-source ProtonMail CardDAV, IMAP and SMTP bridge
ConditionPathExistsGlob=%E/.config/hydroxide/auth.json

[Service]
Type=simple
ExecStart=/usr/bin/hydroxide ${HYDROXIDE_OPTS} ${HYDROXIDE_MODE}

[Install]
WantedBy=default.target